h1{
  color:white !important;
}

footer{
  text-align: center;
}

.main{
  height: 100vh !important;
}

.msg-chars-left{
  margin-top: 10px;
}

.msg-send-button{
  margin-top: 10px;
}

.main-card{
  margin-top: 10px !important;
}
